body{
    background-image:url('../img/foto3.png');
    background-position: center;
    background-size: cover;
    background-color: black;
    font-family: Arial,Helvetica,sans-serif;
}

a:link, a:visited, a:active{
    text-decoration:none;
}

.btns{
  height: 60px;
  margin: auto;
  width: 40%;
  margin: 20px;
  font-family: inherit;
  font-weight: bold;
  font-size: 25px;
  border-radius: 30px;
  border: none;
}

#tateti{
  background-color: rgb(236, 67, 14);
  color: white;
  border: 4px solid white;
}
#tateti:hover{
    cursor: pointer;
    background-color: white;
    border: 4px solid rgb(236, 67, 14);
    color: rgb(236, 67, 14);
    text-decoration: underline;
    box-shadow: 0px 0px 80px rgb(236, 67, 14);
}

#ahorcado{
  background-color: rgb(255, 231, 3);
  color: black;
  border: 4px solid black;
}
#ahorcado:hover{
    cursor: pointer;
    background-color: black;
    border: 4px solid rgb(255, 231, 3);
    color: rgb(255, 231, 3);
    text-decoration: underline;
    box-shadow: 0px 0px 80px rgb(255, 231, 3);

}
.juegos{
    margin-top: 25%;
    text-align:center;
    
}
#titulo{
    text-align: center;
    color: white;
    font-family:inherit;
    font-weight: bold;
    font-size: 100px;
    margin-top: 40px;
}
#sp1{
  color:rgb(255, 231, 3) ;
  border-top: 12px solid rgb(88, 183, 234);
  border-left: 12px solid rgb(88, 183, 234);
}
#sp2{
  color:rgb(236, 67, 14) ;
  border-bottom: 12px solid rgb(252, 172, 206);
  border-right: 12px solid rgb(252, 172, 206);
}